.form {
 
    div {
       
        h5 {
           margin: 0;
          
        }
        input {
          
        }
    }
}
.data {
    text-align: center;
}
.table,th,td {
    margin-top: 10px;
   
    margin-left: auto;
    margin-right: auto;
}