.list-user-container{
    .title{

    }
    .list-user-content{
        margin-top: 20px;
        font-size: 20px;
        .child{
            border: solid 1px;
            padding: 6px;
        }
    }
}